<div class="filtertext">
        <h3>Filter</h3>
        <ul>
            <li>Priority</li>
        </ul>
        <ul>
            <li>Date</li>
        </ul>
        <ul>
            <li>Aphabetical Order</li>
        </ul>
        <ul>
            <li>Custom</li>
        </ul>
    </div>