<!DOCTYPE html>
<html>
    <div class="Todolisttext card">
        <h1>To Do List</h1>
    </div>
    <div class="card hometext">
        <h3>Home Page</h3>
        <p>
            <span><input type="checkbox"></span>
            <span>Date</span>
            <span>Priority</span>
            <span>Checklist</span>
            <span>
                <span>New Reminder</span>
                <div class="Addtext">
                    <input placeholder="Add A Reminder Here">
                    <input type="submit">
                </div>
            </span>
        </p>
         <ul class="new"></ul>
    </div>
    <div class="card settingstext">
        <h3>Settings Page</h3>
        <ul>
            <li>Language</li>
        </ul>
        <ul>
            <li>Sound</li>
        </ul>
        <ul>
            <li>Insults</li>
        </ul>
        <ul>
            <li>Restrictions</li>
        </ul>
        <ul>
            <li>Filter</li>
        </ul>
    </div>
    <div class="filtertext">
        <h3>Filter</h3>
        <ul>
            <li>Priority</li>
        </ul>
        <ul>
            <li>Date</li>
        </ul>
        <ul>
            <li>Aphabetical Order</li>
        </ul>
        <ul>
            <li>Custom</li>
        </ul>
    </div>
    <div class="Recenttext">
        <h3>Recent Activiity</h3>
        <ul>
            <li>Study<span class="date"> January 1st</span></li>
        </ul>
        <ul>
            <li>Go to practice<span class="date"> January 2nd</span></li>
        </ul>
        <ul>
            <li>Hang out with friends<span class="date"> January 5th</span></li>
        </ul>
        <ul>
            <li>Take driving test<span class="date"> January 10th</span></li>
        </ul>
    </div>
    <div class="Addtext">
        <input placeholder="Add A Reminder Here">
        <input type="submit">
    </div>
</body>

</html>

</html>