<h2>Add a reminder here</h2>

<form action="/todo/create">
  <input class="text-input" id="Add a reminder here" name="description" type="text" placeholder="Add a reminder here">
  <input class="button" id="Add reminder" type="submit" value="Add reminder">
</form>