<div class="Recenttext">
        <h3>Recent Activiity</h3>
        <ul>
            <li>Study<span class="date"> January 1st</span></li>
        </ul>
        <ul>
            <li>Go to practice<span class="date"> January 2nd</span></li>
        </ul>
        <ul>
            <li>Hang out with friends<span class="date"> January 5th</span></li>
        </ul>
        <ul>
            <li>Take driving test<span class="date"> January 10th</span></li>
        </ul>
    </div>