<div class="card settingstext">
        <h3>Settings Page</h3>
        <ul>
            <li>Language</li>
        </ul>
        <ul>
            <li>Sound</li>
        </ul>
        <ul>
            <li>Insults</li>
        </ul>
        <ul>
            <li>Restrictions</li>
        </ul>
        <ul>
            <li>Filter</li>
        </ul>
    </div>
    <div class="filtertext">
        <h3>Filter</h3>
        <ul>
            <li>Priority</li>
        </ul>
        <ul>
            <li>Date</li>
        </ul>
        <ul>
            <li>Aphabetical Order</li>
        </ul>
        <ul>
            <li>Custom</li>
        </ul>
    </div>